@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --primary-blue: #1f51ff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.highlighted-room {
  border: 2px solid red;
}
.login-box {
  font-family: 'Poppins', sans-serif;
  border: 3px solid var(--primary-blue);
  display: flex;
  width: 60vw;
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 2rem;
}

.login-form {
  width: 35vw;
}
.login-image {
  width: 35vw;
}

.login-text {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #1f51ff;
}

.plant-card {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: black;
  border: 2px solid var(--primary-blue);
  border-radius: 8px;
  padding: 1rem;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.plant-card-info {
  font-size: 1.2rem;
  font-weight: 600;
  width: 80%;
  border-bottom: 1px dashed var(--primary-blue);
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.data-item {
  display: flex;
  flex-direction: column;
}
.plant-data {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  display: grid;
  padding-bottom: 0.5rem;
  border-bottom: black 1px dashed;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.air-temp {
  background-color: #f5e942;
  border-radius: 10px;
  height: 5rem;
  width: 6rem;
  text-align: center;
  padding: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.air-hum {
  background-color: #58d7f7;
  border-radius: 10px;
  height: 5rem;
  width: 6rem;
  text-align: center;
  padding: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ground-hum {
  background-color: #589df7;
  border-radius: 10px;
  height: 5rem;
  width: 6rem;
  text-align: center;
  padding: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ground-temp {
  background-color: #f5da42;
  border-radius: 10px;
  height: 5rem;
  width: 6rem;
  text-align: center;
  padding: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ground-cond {
  background-color: #58f79a;
  border-radius: 10px;
  height: 5rem;
  width: 6rem;
  text-align: center;
  padding: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.plants-box {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  display: grid;
  gap: 1rem;
}

.average-title {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #1f51ff;
  display: flex;
  flex-direction: column;
}

.plant-text {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #1f51ff;
  margin-bottom: 1rem;
}

.selected {
  border: 2px dashed red;
}

.title-text {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: #1f51ff;
}
.title-text2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #1f51ff;
  font-style: italic;
}
